body{
	color: white;
}
h1,h2{
	text-align: center;
}
#vitor{
			width: 100%;/*Largura Responsiva*/
			height: 100%;
			position: fixed;
			top: 0; left: 0;
			z-index: -1;
}
#img{
		    width: 50%; 
			height: 50%;
			display: block;
			margin: 20px auto;
}